html, * {
	font-family: Roboto, sans-serif;
}

body {
	background-color: #fdfdfd;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
	margin: 0;
}

section {
	width: 800px;
	margin: 30px auto;
	background: white;
	border: 8px solid #f7f7f7;
	padding: 34px;
}

.clone,
.item-text,
#edit-title-field {
	display: none;
}

#title {
	border-bottom: 1px solid #f7f7f7;
}

#edit-title-field {
	padding: 4px;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 5px;
	width: 790px;
}

#list {
	list-style-type: none;
	margin: 0;
	padding: 10px 10px 0 10px;
}

#list li {
	margin: 0;
	padding: 4px;
}

#list li i {
	margin-right: 8px;
}

#list li i.fa-check-square-o {
	margin-right: 5px;
}

#list li span,
#list li input {
	font-size: 1em;
}

#list li input {
	padding: 4px;
	width: 730px;
}

#add-item {
	cursor: pointer;
	color: #449d44;
}
